# Python Library Complex Table PDF Parsing Feasibility Study

Comparision of various Python libraries and one Java library for parsing tables in PDF. Arguably in order from worst to best at parsing complex tables. Tabula-java can compensate for merged cells by finding the area of the table with the most columns. Only Unstructured, Camelot, and LlamaParse can completely successfully handle complex tables with merged cells. Camelot is the only library able to handle tables with merged cells without having to resort to ML models.

The various libraries will have to be installed to run this notebook.

## pdfplumber

In [1]:
pdf_file = "OnePageOneTable.pdf"

In [2]:
from collections import namedtuple
import re

import pdfplumber
import pandas as pd

with pdfplumber.open(pdf_file) as f:
    for page in f.pages:
        text = page.extract_text()
        if text.__contains__("Consolidated Statements of Income"):
            print(text)
            print(page.extract_tables())

Consolidated Statements of Income
Barrick Gold Corporation Three months ended Six months ended
(in millions of United States dollars, except per share data) (Unaudited) June 30, June 30,
2015 2014 2015 2014
Revenue (notes 5 and 6) $ 2,231 $ 2,458 $ 4,476 $ 5,105
Costs and expenses (income)
Cost of sales (notes 5 and 7) 1,689 1,631 3,397 3,350
General and administrative expenses 70 82 137 185
Exploration, evaluation and project expenses (note 8) 9 7 1 05 183 205
Impairment charges (note 10B) 35 512 40 524
Loss on currency translation 33 31 31 110
Closed mine rehabilitation (19) 27 (11) 49
Loss (gain) on non-hedge derivatives (note 18D) 8 ( 44) 11 (65)
Other expense (note 10A) 32 17 14 36
Income before finance items and income taxes $ 286 $ 97 $ 674 $ 711
Finance items
Finance income 2 3 4 6
Finance costs (note 11) (194) (200) (390) ( 401)
Income (loss) before income taxes $ 94 $ (100) $ 288 $ 316
Income tax expense (note 12) (103) ( 123) (208) (412)
Net income (loss) $ (9) $ (223) $ 80 $ (96)
Attributable to:
Equity holders of Barrick Gold Corporation $ (9) $ ( 269) $ 48 $ (181)
Non-controlling interests (note 21) $ - $ 46 $ 32 $ 85
Earnings (loss) per share data attributable to the equity holders of Barrick Gold Corporation (note 9)
Net income (loss)
Basic $ ( 0.01) $ ( 0.23) $ 0 .04 $ ( 0.16)
Diluted $ ( 0.01) $ ( 0.23) $ 0 .04 $ ( 0.16)
The accompanying notes are an integral part of these consolidated financial statements.
BARRICK SECOND QUARTER 2015 57 FINANCIAL STATEMENTS (UNAUDITED)
[]

## PyMuPDF

In [2]:
import sys, pathlib, pymupdf

with pymupdf.open(pdf_file) as doc:  # open document
    text = chr(12).join([page.get_text() for page in doc])
# write as a binary file to support non-ASCII characters
pathlib.Path(pdf_file + ".txt").write_bytes(text.encode())
myDoc = pymupdf.open(pdf_file)
# print(myDoc[0].get_text())
lines = myDoc[0].get_text('blocks')
for line in lines:
    print(line)

(49.5, 47.94342041015625, 429.6875915527344, 74.75592041015625, 'Consolidated Statements of Income\n', 0, 0)
(52.130001068115234, 81.82781982421875, 517.07666015625, 90.955322265625, ' Barrick Gold Corporation\n  \n  \n', 1, 0)
(52.130001068115234, 93.6378173828125, 551.6292114257812, 102.76531982421875, ' For the years ended December 31 (in millions of United States dollars, except per share data)\n2023\n2022\n', 2, 0)
(52.130001068115234, 106.767822265625, 553.0606689453125, 117.01531982421875, 'Revenue (notes 5 and 6)\n \n$11,397  \n$11,013 \n', 3, 0)
(52.130001068115234, 121.017822265625, 164.90603637695312, 129.955322265625, 'Costs and expenses (income)\n', 4, 0)
(52.130001068115234, 135.267822265625, 553.0606689453125, 145.51531982421875, 'Cost of sales (notes 5 and 7)\n \n7,932  \n7,497 \n', 5, 0)
(52.130001068115234, 149.517822265625, 553.0606689453125, 159.76531982421875, 'General and administrative expenses (note 11)\n \n126  \n159 \n', 6, 0)
(52.130001068115234, 163.767822265625, 553.0606689453125, 174.01531982421875, 'Exploration, evaluation and project expenses (notes 5 and 8)\n \n361  \n350 \n', 7, 0)
(52.130001068115234, 178.017822265625, 553.0606689453125, 188.26531982421875, 'Impairment charges (notes 10 and 21)\n \n312  \n1,671 \n', 8, 0)
(52.130001068115234, 192.267822265625, 553.0606689453125, 202.51531982421875, 'Loss on currency translation\n \n93  \n16 \n', 9, 0)
(52.130001068115234, 206.517822265625, 555.7246704101562, 216.76531982421875, 'Closed mine rehabilitation (note 27b)\n \n16  \n(136) \n', 10, 0)
(52.130001068115234, 220.767822265625, 555.7246704101562, 231.01531982421875, 'Income from equity investees (note 16)\n \n(232)  \n(258) \n', 11, 0)
(52.130001068115234, 235.017822265625, 555.7246704101562, 245.26531982421875, 'Other (income) expense (note 9)\n \n(195)  \n(268) \n', 12, 0)
(52.130001068115234, 249.267822265625, 553.0606689453125, 259.51531982421875, 'Income before finance items and income taxes\n \n2,984  \n1,982 \n', 13, 0)
(52.130001068115234, 263.517822265625, 555.7246704101562, 273.76531982421875, 'Finance costs, net (note 14)\n \n(170)  \n(301) \n', 14, 0)
(52.130001068115234, 277.767822265625, 553.0606689453125, 288.01531982421875, 'Income before income taxes\n \n2,814  \n1,681 \n', 15, 0)
(52.130001068115234, 292.017822265625, 555.7246704101562, 302.26531982421875, 'Income tax expense (note 12)\n \n(861)  \n(664) \n', 16, 0)
(52.130001068115234, 306.267822265625, 553.0606689453125, 316.51531982421875, 'Net income\n \n$1,953  \n$1,017 \n', 17, 0)
(52.130001068115234, 320.517822265625, 109.41004943847656, 329.455322265625, 'Attributable to:\n', 18, 0)
(52.130001068115234, 334.767822265625, 553.0606689453125, 345.01531982421875, 'Equity holders of Barrick Gold Corporation \n \n$1,272  \n$432 \n', 19, 0)
(52.130001068115234, 349.017822265625, 553.0606689453125, 359.26531982421875, 'Non-controlling interests (note 32)\n \n$681  \n$585 \n', 20, 0)
(52.130001068115234, 362.517822265625, 410.6007385253906, 371.455322265625, 'Earnings (loss) per share data attributable to the equity holders of Barrick Gold Corporation (note 13) \n', 21, 0)
(52.130001068115234, 376.017822265625, 92.56321716308594, 384.955322265625, 'Net income\n', 22, 0)
(58.880001068115234, 390.267822265625, 553.0606689453125, 400.51531982421875, 'Basic\n \n$0.72  \n$0.24 \n', 23, 0)
(58.880001068115234, 404.517822265625, 553.0606689453125, 414.76531982421875, 'Diluted\n \n$0.72  \n$0.24 \n', 24, 0)
(49.5, 419.82781982421875, 360.87469482421875, 438.3653259277344, 'The accompanying notes are an integral part of these consolidated financial statements.\n \n', 25, 0)
(26.15999984741211, 7.1630859375, 154.76580810546875, 18.4833984375, 'OVERVIEW\nOPERATING \n', 26, 0)
(104.61000061035156, 14.1630859375, 159.42694091796875, 21.9833984375, 'PERFORMANCE\n', 27, 0)
(179.77000427246094, 7.1630859375, 260.247802734375, 14.9833984375, 'GROWTH PROJECTS & \n', 28, 0)
(193.75, 14.1630859375, 244.29116821289062, 21.9833984375, 'EXPLORATION\n', 29, 0)
(266.5799865722656, 7.1630859375, 347.4429016113281, 14.9833984375, 'REVIEW OF FINANCIAL \n', 30, 0)
(289.69000244140625, 14.1630859375, 322.344970703125, 21.9833984375, 'RESULTS\n', 31, 0)
(355.1300048828125, 3.6630859375, 432.89886474609375, 11.4833984375, 'OTHER INFORMATION \n', 32, 0)
(370.4700012207031, 10.6630859375, 417.51580810546875, 18.4833984375, '& NON-GAAP \n', 33, 0)
(360.57000732421875, 17.6630859375, 425.50897216796875, 25.4833984375, 'RECONCILIATIONS\n', 34, 0)
(444.07000732421875, 3.6630859375, 517.9188842773438, 11.4833984375, 'MINERAL RESERVES \n', 35, 0)
(455.5299987792969, 10.6630859375, 506.4607849121094, 18.4833984375, 'AND MINERAL \n', 36, 0)
(457.8599853515625, 17.6630859375, 502.17694091796875, 25.4833984375, 'RESOURCES\n', 37, 0)
(548.1599731445312, 7.1630859375, 587.82080078125, 14.9833984375, 'FINANCIAL \n', 38, 0)
(543.3099975585938, 14.1630859375, 590.73486328125, 21.9833984375, 'STATEMENTS\n', 39, 0)
(66.0, 762.7078247070312, 546.0719604492188, 771.6453247070312, 'BARRICK YEAR-END 2023\n117\nFINANCIAL STATEMENTS\n', 40, 0)

In [3]:
import fitz  # PyMuPDF

# Function to save the first page of a PDF
def save_first_page(input_pdf_path, output_pdf_path):
    # Open the input PDF file
    pdf_document = fitz.open(input_pdf_path)
    
    # Select the first page (index 0)
    first_page = pdf_document.load_page(0)  # Index starts at 0
    
    # Create a new PDF document to save the first page
    new_pdf = fitz.open()
    
    # Insert the first page into the new PDF
    new_pdf.insert_pdf(pdf_document, from_page=0, to_page=0)
    
    # Save the new PDF
    new_pdf.save(output_pdf_path)
    new_pdf.close()
    pdf_document.close()

# Example usage
input_pdf_path = pdf_file  # Replace with your input PDF path
output_pdf_path = "OnePageOneTable.pdf" # Replace with your output PDF path
save_first_page(input_pdf_path, output_pdf_path)

## pdfminer

In [13]:
from pdfminer.high_level import extract_text

text = extract_text(pdf_file, page_numbers=[0])
print(text[0:1000])

Consolidated Statements of Income

Barrick Gold Corporation

(in millions of United States dollars, except per share data) (Unaudited)

Revenue (notes 5 and 6)
Costs and expenses (income)
Cost of sales (notes 5 and 7)
General and administrative expenses
Exploration, evaluation and project expenses (note 8)
Impairment charges (note 10B)
Loss on currency translation
Closed mine rehabilitation
Loss (gain) on non-hedge derivatives (note 18D)
Other expense (note 10A)
Income before finance items and income taxes
Finance items
Finance income
Finance costs (note 11)
Income (loss) before income taxes
Income tax expense (note 12)
Net income (loss)
Attributable to:
Equity holders of Barrick Gold Corporation
Non-controlling interests (note 21)

Three months ended
June 30,
2014

2015

Six months ended
June 30,
2014

2015

$

2,231

$

2,458

$

4,476

$

5,105

1,689
70
97
35
33
(19)
8
32
286

$

1,631
82
105
512
31
27
(44)
17
97

$

3,397
137
183
40
31
(11)

In [17]:
from pdfminer.high_level import extract_pages
for page_layout in extract_pages(pdf_file, page_numbers=[0]):
    for element in page_layout:
        if element.__class__.__name__ != "LTTextLineHorizontal":
            print(element)

<LTTextBoxHorizontal(0) 57.240,691.499,337.303,713.579 'Consolidated Statements of Income\n'>
<LTTextBoxHorizontal(1) 55.560,666.562,128.507,674.842 'Barrick Gold Corporation\n'>
<LTTextBoxHorizontal(2) 55.560,653.842,265.624,662.122 '(in millions of United States dollars, except per share data) (Unaudited)\n'>
<LTTextBoxHorizontal(3) 55.678,376.339,231.840,623.536 'Revenue (notes 5 and 6)\nCosts and expenses (income)\nCost of sales (notes 5 and 7)\nGeneral and administrative expenses \nExploration, evaluation and project expenses (note 8)\nImpairment charges (note 10B)\nLoss on currency translation\nClosed mine rehabilitation\nLoss (gain) on non-hedge derivatives (note 18D)\nOther expense (note 10A)\nIncome before finance items and income taxes\nFinance items\nFinance income\nFinance costs (note 11)\nIncome (loss) before income taxes\nIncome tax expense (note 12)\nNet income (loss)\nAttributable to:\nEquity holders of Barrick Gold Corporation\nNon-controlling interests (note 21)\n'>
<LTTextBoxHorizontal(4) 388.920,642.257,456.702,676.217 'Three months ended\nJune 30,\n2014\n'>
<LTTextBoxHorizontal(5) 388.440,642.257,404.352,651.497 '2015\n'>
<LTTextBoxHorizontal(6) 490.080,642.257,548.579,676.217 'Six months ended\nJune 30,\n2014\n'>
<LTTextBoxHorizontal(7) 477.600,642.257,493.511,651.497 '2015\n'>
<LTTextBoxHorizontal(8) 370.679,614.056,384.954,623.296 '$     \n'>
<LTTextBoxHorizontal(9) 383.519,614.056,401.260,623.296 '2,231\n'>
<LTTextBoxHorizontal(10) 422.279,614.056,437.659,623.296 '$      \n'>
<LTTextBoxHorizontal(11) 436.319,614.056,454.060,623.296 '2,458\n'>
<LTTextBoxHorizontal(12) 462.480,614.056,472.671,623.296 '$   \n'>
<LTTextBoxHorizontal(13) 471.359,614.056,490.671,623.296 '4,476\n'>
<LTTextBoxHorizontal(14) 511.440,614.056,530.660,623.296 '$        \n'>
<LTTextBoxHorizontal(15) 529.559,614.056,545.905,623.296 '5,105\n'>
<LTTextBoxHorizontal(16) 383.639,490.817,404.274,597.857 '1,689\n70\n97\n35\n33\n(19)\n8\n32\n286\n'>
<LTTextBoxHorizontal(17) 370.680,490.817,389.035,500.057 '$       \n'>
<LTTextBoxHorizontal(18) 439.799,490.817,456.456,597.857 '1,631\n82\n105\n512\n31\n27\n(44)\n17\n97\n'>
<LTTextBoxHorizontal(19) 422.280,490.817,447.260,500.057 '$           \n'>
<LTTextBoxHorizontal(20) 471.359,490.817,493.451,597.857 '3,397\n137\n183\n40\n31\n(11)\n11\n14\n674\n'>
<LTTextBoxHorizontal(21) 462.480,490.817,478.797,500.057 '$      \n'>
<LTTextBoxHorizontal(22) 528.120,490.817,548.302,597.857 '3,350\n185\n205\n524\n110\n49\n(65)\n36\n711\n'>
<LTTextBoxHorizontal(23) 511.440,490.817,538.341,500.057 '$            \n'>
<LTTextBoxHorizontal(24) 387.120,414.499,404.343,474.618 '2\n(194)\n94\n(103)\n(9)\n'>
<LTTextBoxHorizontal(25) 438.960,414.499,456.495,474.618 '3\n(200)\n(100)\n(123)\n(223)\n'>
<LTTextBoxHorizontal(26) 474.240,414.499,493.441,474.618 '4\n(390)\n288\n(208)\n80\n'>
<LTTextBoxHorizontal(27) 370.680,414.499,395.153,423.739 '$          \n'>
<LTTextBoxHorizontal(28) 422.280,414.499,441.500,423.739 '$        \n'>
<LTTextBoxHorizontal(29) 462.480,414.499,482.873,423.739 '$        \n'>
<LTTextBoxHorizontal(30) 511.440,414.499,536.421,423.739 '$           \n'>
<LTTextBoxHorizontal(31) 370.680,439.938,393.117,449.178 '$         \n'>
<LTTextBoxHorizontal(32) 422.280,439.938,441.500,449.178 '$        \n'>
<LTTextBoxHorizontal(33) 462.480,439.938,478.797,449.178 '$      \n'>
<LTTextBoxHorizontal(34) 511.440,439.938,536.421,449.178 '$           \n'>
<LTTextBoxHorizontal(35) 532.560,414.499,548.277,474.618 '6\n(401)\n316\n(412)\n(96)\n'>
<LTTextBoxHorizontal(36) 370.680,376.339,404.253,398.299 '$          \n(9)\n$            \n-\n'>
<LTTextBoxHorizontal(37) 422.281,376.339,447.261,398.299 '$        \n$           \n'>
<LTTextBoxHorizontal(38) 439.440,376.339,456.396,398.299 '(269)\n46\n'>
<LTTextBoxHorizontal(39) 462.481,376.339,482.874,398.299 '$        \n$        \n'>
<LTTextBoxHorizontal(40) 481.801,376.339,490.607,398.299 '48\n32\n'>
<LTTextBoxHorizontal(41) 511.441,376.339,538.342,398.299 '$           \n$            \n'>
<LTTextBoxHorizontal(42) 534.601,376.339,548.369,398.299 '(181)\n85\n'>
<LTTextBoxHorizontal(43) 55.680,312.737,398.531,360.139 'Earnings (loss) per share data attributable to the equity holders of Barrick Gold Corporation (note 9)\nNet income (loss)\n     Basic\n     Diluted\n'>
<LTTextBoxHorizontal(44) 372.480,312.737,386.755,334.697 '$     \n$     \n'>
<LTTextBoxHorizontal(45) 384.720,312.737,404.356,334.699 '(0.01)\n(0.01)\n'>
<LTTextBoxHorizontal(46) 422.400,312.737,439.700,334.697 '$       \n$       \n'>
<LTTextBoxHorizontal(47) 437.760,312.737,456.480,334.697 '(0.23)\n(0.23)\n'>
<LTTextBoxHorizontal(48) 462.720,312.737,476.995,334.697 '$     \n$     \n'>
<LTTextBoxHorizontal(49) 474.960,312.737,490.714,334.697 '0.04\n0.04\n'>
<LTTextBoxHorizontal(50) 511.680,312.737,532.820,334.697 '$         \n$         \n'>
<LTTextBoxHorizontal(51) 530.879,312.737,548.269,334.697 '(0.16)\n(0.16)\n'>
<LTTextBoxHorizontal(52) 55.440,298.347,286.979,305.667 'The accompanying notes are an integral part of these consolidated financial statements.\n'>
<LTTextBoxHorizontal(53) 54.840,38.528,185.329,46.568 'BARRICK SECOND QUARTER 2015\n'>
<LTTextBoxHorizontal(54) 299.520,38.528,311.580,46.568 ' 57\n'>
<LTTextBoxHorizontal(55) 405.720,38.528,556.647,46.568 'FINANCIAL STATEMENTS (UNAUDITED)\n'>
<LTRect 54.120,652.560,549.840,653.400>
<LTRect 54.120,638.400,549.840,639.240>
<LTRect 54.120,612.960,549.840,613.800>
<LTRect 54.120,502.440,549.840,503.280>
<LTRect 54.120,451.560,549.840,452.400>
<LTRect 54.120,426.120,549.840,426.960>
<LTRect 54.120,413.400,549.840,414.240>
<LTRect 54.120,375.240,549.840,376.080>
<LTRect 54.120,311.640,549.840,312.480>

## Marker
`marker_single /path/to/file.pdf /path/to/output/folder --batch_multiplier 2 --max_pages 1`

### Consolidated Statements Of Income

| Barrick Gold Corporation                                                                                                                 | Three months ended   | Six months ended   |      |         |         |        |       |        |
|------------------------------------------------------------------------------------------------------------------------------------------|----------------------|--------------------|------|---------|---------|--------|-------|--------|
| (in millions of United States dollars, except per share data) (Unaudited)                                                                | June 30,             | June 30,           |      |         |         |        |       |        |
| 2015                                                                                                                                     |                      | 2014               | 2015 | 2014    |         |        |       |        |
| Revenue (notes 5 and 6)                                                                                                                  | $                    | 2,231              | $    | 2,458   | $ 4,476 | $      | 5,105 |        |
| Costs and expenses (income) Cost of sales (notes 5 and 7)                                                                                |                      | 1,689              |      | 1,631   |         | 3,397  |       | 3,350  |
| General and administrative expenses                                                                                                      | 70                   |                    | 82   |         | 137     |        | 185   |        |
| Exploration, evaluation and project expenses (note 8)                                                                                    |                      | 97                 |      | 105     |         | 183    |       | 205    |
| Impairment charges (note 10B)                                                                                                            |                      | 35                 |      | 512     |         | 40     |       | 524    |
| Loss on currency translation                                                                                                             |                      | 33                 |      | 31      |         | 31     |       | 110    |
| Closed mine rehabilitation                                                                                                               |                      | (19)               |      | 27      |         | (11)   |       | 49     |
| Loss (gain) on non-hedge derivatives (note 18D)                                                                                          |                      | 8                  |      | (44)    | 11      |        | (65)  |        |
| Other expense (note 10A)                                                                                                                 |                      | 32                 |      | 17      |         | 14     |       | 36     |
| Income before finance items and income taxes                                                                                             | 286                  |                    |      |         |         |        |       |        |
| $                                                                                                                                        | $                    | 97                 | $    | 674     | $       | 711    |       |        |
| Finance items Finance income                                                                                                             |                      | 2                  |      | 3       |         | 4      |       | 6      |
| Finance costs (note 11)                                                                                                                  |                      | (194)              |      | (200)   | (390)   |        | (401) |        |
| Income (loss) before income taxes                                                                                                        | 94                   |                    |      |         |         |        |       |        |
| $                                                                                                                                        | $                    | (100) $            | 288  | $       | 316     |        |       |        |
| Income tax expense (note 12)                                                                                                             |                      | (103)              |      | (123)   | (208)   |        | (412) |        |
| Net income (loss)                                                                                                                        | (9)                  |                    |      |         |         |        |       |        |
| $                                                                                                                                        | $                    | (223) $            | 80   | $       | (96)    |        |       |        |
| Attributable to: Equity holders of Barrick Gold Corporation                                                                              | $                    | (9)                | $    | (269) $ | 48      | $      | (181) |        |
| Non-controlling interests (note 21)                                                                                                      | $                    | -                  | $    | 46      | $       | 32     | $     | 85     |
| Earnings (loss) per share data attributable to the equity holders of Barrick Gold Corporation (note 9) Net income (loss)  Basic $ (0.01) | $                    | (0.23)             | $    | 0.04    | $       | (0.16) |       |        |
|                                                                                                                                          | Diluted              | $ (0.01)           | $    | (0.23)  | $       | 0.04   | $     | (0.16) |

## tabula-java


Using the guess option tabula-java can find the area of the table with the most columns and return that.

```bash
java -jar ~/bin/tabula.jar -g ~/tabula-java/src/test/resources/technology/tabula/table_report.pdf
```

In [2]:
from io import StringIO
import pandas as pd

from_tabula_java = """,,2015,,2014,,2015,,2014
Revenue (notes 5 and 6),$,"2,231",$,"2,458",$,"4,476",$,"5,105"
Costs and expenses (income),,,,,,,,
Cost of sales (notes 5 and 7),,"1,689",,"1,631",,"3,397",,"3,350"
General and administrative expenses,,70,,82,,137,,185
"Exploration, evaluation and project expenses (note 8)",,9 7,,105,,183,,205
Impairment charges (note 10B),,35,,512,,40,,524
Loss on currency translation,,33,,31,,31,,110
Closed mine rehabilitation,,(19),,27,,(11),,49
Loss (gain) on non-hedge derivatives (note 18D),,8,,( 44),,11,,(65)
Other expense (note 10A),,32,,17,,14,,36
Income before finance items and income taxes,$,286,$,97,$,674,$,711
Finance items,,,,,,,,
Finance income,,2,,3,,4,,6
Finance costs (note 11),,(194),,(200),,(390),,(401)
Income (loss) before income taxes,$,94,$,(100),$,288,$,316
Income tax expense (note 12),,(103),,(123),,(208),,(412)
Net income (loss),$,(9),$,(223),$,80,$,(96)
Attributable to:,,,,,,,,
Equity holders of Barrick Gold Corporation,$,(9),$,( 269),$,48,$,(181)
Non-controlling interests (note 21),$,-,$,46,$,32,$,85
Earnings (loss) per share data attributable to the equity holders of Barrick Gold Corporation (note 9),,,,,,,,
Net income (loss),,,,,,,,
Basic,$,(0.01),$,(0.23),$,0.04,$,(0.16)
Diluted,$,(0.01),$,(0.23),$,0.04,$,(0.16)"""

df = pd.read_csv(StringIO(from_tabula_java))
df

,Unnamed: 0,Unnamed: 1,2015,Unnamed: 3,2014,Unnamed: 5,2015.1,Unnamed: 7,2014.1
0,Revenue (notes 5 and 6),$,"2,231",$,"2,458",$,"4,476",$,"5,105"
1,Costs and expenses (income),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cost of sales (notes 5 and 7),NaN,"1,689",NaN,"1,631",NaN,"3,397",NaN,"3,350"
3,General and administrative expenses,NaN,70,NaN,82,NaN,137,NaN,185
4,"Exploration, evaluation and project expenses (...",NaN,9 7,NaN,105,NaN,183,NaN,205
5,Impairment charges (note 10B),NaN,35,NaN,512,NaN,40,NaN,524
6,Loss on currency translation,NaN,33,NaN,31,NaN,31,NaN,110
7,Closed mine rehabilitation,NaN,(19),NaN,27,NaN,(11),NaN,49
8,Loss (gain) on non-hedge derivatives (note 18D),NaN,8,NaN,( 44),NaN,11,NaN,(65)
9,Other expense (note 10A),NaN,32,NaN,17,NaN,14,NaN,36
10,Income before finance items and income taxes,$,286,$,97,$,674,$,711
11,Finance items,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Finance income,NaN,2,NaN,3,NaN,4,NaN,6
13,Finance costs (note 11),NaN,(194),NaN,(200),NaN,(390),NaN,(401)
14,Income (loss) before income taxes,$,94,$,(100),$,288,$,316
15,Income tax expense (note 12),NaN,(103),NaN,(123),NaN,(208),NaN,(412)
16,Net income (loss),$,(9),$,(223),$,80,$,(96)
17,Attributable to:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Equity holders of Barrick Gold Corporation,$,(9),$,( 269),$,48,$,(181)
19,Non-controlling interests (note 21),$,-,$,46,$,32,$,85
20,Earnings (loss) per share data attributable to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Net income (loss),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Basic,$,(0.01),$,(0.23),$,0.04,$,(0.16)
23,Diluted,$,(0.01),$,(0.23),$,0.04,$,(0.16)

## Unstructured

In [10]:
from unstructured.partition.auto import partition
from IPython.core.display import HTML

elements = partition(pdf_file, 
    skip_infer_table_types=[],
    pdf_infer_table_structure=True,
    strategy="hi_res")
tables = [el for el in elements if el.category == "Table"]
print(f"Length of tables: {len(tables)}")
table_html = tables[0].metadata.text_as_html
HTML(table_html)
print(tables[0].metadata.)

The pdf_infer_table_structure kwarg is deprecated. Please use skip_infer_table_types instead.

Length of tables: 1
None

## Camelot

In [5]:
import camelot

tables = camelot.read_pdf(pdf_file, pages='1-end', flavor='lattice')
tables

In [8]:
tables = camelot.read_pdf(pdf_file, flavor='stream')
print(tables[0])
print(tables[0].parsing_report)

<Table shape=(15, 6)>
{'accuracy': 95.02, 'whitespace': 28.89, 'order': 1, 'page': 1}

In [9]:
tables[0].df

,0,1,2,3,4,5
0,Barrick Gold Corporation,,Three months ended,,,Six months ended
1,"(in millions of United States dollars, except ...",,,"June 30,",,"June 30,"
2,,2015,,2014,2015,2014
3,Revenue (notes 5 and 6),"$ \n2,231",$,"2,458","$ \n4,476","$ \n5,105"
4,Costs and expenses (income),,,,,
5,Cost of sales (notes 5 and 7),"1,689",,"1,631","3,397","3,350"
6,General and administrative expenses,70,,82,137,185
7,"Exploration, evaluation and project expenses (...",97,,105,183,205
8,Impairment charges (note 10B),35,,512,40,524
9,Loss on currency translation,33,,31,31,110
10,Closed mine rehabilitation,(19),,27,(11),49
11,Loss (gain) on non-hedge derivatives (note 18D),8,,(44),11,(65)
12,Other expense (note 10A),32,,17,14,36
13,Income before finance items and income taxes,$ \n286,$,97,$ \n674,$ \n711
14,Finance items,,,,,

## LlamaParse

### Consolidated Statements of Income

### Barrick Gold Corporation

(in millions of United States dollars, except per share data) (Unaudited)

|Description|Three months ended June 30, 2015|Three months ended June 30, 2014|Six months ended June 30, 2015|Six months ended June 30, 2014|
|---|---|---|---|---|
|Revenue (notes 5 and 6)|$ 2,231|$ 2,458|$ 4,476|$ 5,105|
|Costs and expenses (income)| | | | |
|Cost of sales (notes 5 and 7)|$ 1,689|$ 1,631|$ 3,397|$ 3,350|
|General and administrative expenses|$ 70|$ 82|$ 137|$ 185|
|Exploration, evaluation and project expenses (note 8)|$ 97|$ 105|$ 183|$ 205|
|Impairment charges (note 10B)|$ 35|$ 512|$ 40|$ 524|
|Loss on currency translation|$ 33|$ 31|$ 31|$ 110|
|Closed mine rehabilitation|($ 19)|$ 27|($ 11)|$ 49|
|Loss (gain) on non-hedge derivatives (note 18D)|$ 8|($ 44)|$ 11|($ 65)|
|Other expense (note 10A)|$ 32|$ 17|$ 14|$ 36|
|Income before finance items and income taxes|$ 286|$ 97|$ 674|$ 711|
|Finance items| | | | |
|Finance income|$ 2|$ 3|$ 4|$ 6|
|Finance costs (note 11)|($ 194)|($ 200)|($ 390)|($ 401)|
|Income (loss) before income taxes|$ 94|($ 100)|$ 288|$ 316|
|Income tax expense (note 12)|($ 103)|($ 123)|($ 208)|($ 412)|
|Net income (loss)|($ 9)|($ 223)|$ 80|($ 96)|
|Attributable to:| | | | |
|Equity holders of Barrick Gold Corporation|($ 9)|($ 269)|$ 48|($ 181)|
|Non-controlling interests (note 21)|$ 0|$ 46|$ 32|$ 85|
|Earnings (loss) per share data attributable to the equity holders of Barrick Gold Corporation (note 9)| | | | |
|Net income (loss)| | | | |
|Basic|($ 0.01)|($ 0.23)|$ 0.04|($ 0.16)|
|Diluted|($ 0.01)|($ 0.23)|$ 0.04|($ 0.16)|

The accompanying notes are an integral part of these consolidated financial statements.